//----scss全局变量

// 左侧菜单样式
$base-menu-width: 280px;
$base-menu-background: #001529;
$base-menu-min-width: 110px;
// 顶部样式
$base-tabbar-height: 60px;

// logo样式
$base-menu-logo-height: 60px;

$base-logo-title-fontSize: 20px;

// 顶部下边框颜色
$top-buttom-boder: var(--top-buttom-boder, rgb(220, 223, 230));
